<mat-card routerLink="detalle/{{v.id}}" *ngFor="let v of videos" class="example-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{v.titulo}}</mat-card-title>
            <mat-card-subtitle>{{v.descripcion}}</mat-card-subtitle>
            <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions>
        <button style="width: 100%" routerLink="/detalle/{{v.id}}" mat-raised-button color="primary">VER</button>
    </mat-card-actions>
</mat-card>
<button routerLink="/formulario" style="position: fixed; bottom: 2rem; right: 2rem;" mat-fab color="primary">
    <mat-icon>add-circle</mat-icon>
</button>