

<mat-card *ngIf="video">
    <mat-card-header>
        <div mat-card-avatar>
            <img src="{{video.miniatura}}" alt="">
        </div>
        <mat-card-title>{{video.titulo}}</mat-card-title>
        <mat-card-subtitle>{{video.url}}</mat-card-subtitle>
    </mat-card-header>
    <div class="aspecto _16x9">
        <iframe mat-card-image [src]="urlSaneada" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <mat-card-content>
        <p>
            {{video.descripcion}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="/formulario" mat-raised-button color="primary">Editar</button>
        <button routerLink="/listado" mat-raised-button color="warn">Borrar</button>
    </mat-card-actions>
</mat-card>
