<p style="margin-top: 2em">
    <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</p>
<p>
    <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</p>
<p>
    <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</p>
<mat-card-actions>
    <button routerLink="/listado" mat-raised-button color="primary">Aceptar</button>
</mat-card-actions>